@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
*{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu:after{
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3{
    width: 25%;
}
.col-md-4{
    width: 33.33333%;
}
.col-md-6{
    width: 50%;
}
.col-md-8{
    width: 66.66667%;
}
.col-md-9{
    width: 75%;
}
.col-md-12{
    width: 100%;
}
.header{
    padding: 25px 0px;
    background-color: rgba(255, 255, 255, 0.75);
}
.logo{
    margin-top: 7px;
}
.menu li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child{
    border-right: #2c71b8 1px solid;
}
.menu a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
}
.menu a:hover{
    background-color: #2c71b8;
    color: white;
}
p.material-symbols-outlined{
    float: right;
    margin: 5px;
}
.material-symbols-outlined{
    position: relative;
    top: 5px;
}
.products-drop-list{
    display: none;
    position: absolute;
    margin-left: -1px;
}
li.products:hover > a{
    background-color: #2c71b8;
    color: white;
}
.menu li:hover > ul{
    display: block;
}
.products-drop-list li{
    float: none;
}
.products-drop-list li{
    border: none;
}
.products-drop-list li a{
    width: 285px;
    background-color: #2c71b8;
    color:white;
    text-align: left;
    padding-left: 15px;
}
.products-drop-list li a:hover{
    background-color: white;
    color: #2c71b8;
}


/****** Search/cart *******/
.header-form-search{
    border: #2c71b8 1px solid;
    height: 40px;
    position: relative;
    margin-top: 5px;
}
.header-form-search input{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 21px;
    height: 40px;
    width: 155px;
    padding: 0;
}
.header-form-search input:focus{
    outline: none
}
.header-form-search input::placeholder{
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    color: #2c71b8;
    font-size: 21px;
}
.btn-search{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    border: none;
    background-color: #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header-form-cart{
    position: relative;
}
.btn-cart{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: none;
    background-color: white;
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    background-position: center;
}
.products-count{
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: -10px;
}

/********** Main **********/

/* Slider */
.slider{
    width: 1170px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 56px;
    color: rgba(255, 255, 255, 0.589);
}
/* Filter */
.filter{
    height: 843px;
    background-color: rgba(255, 255, 255, 0.20);
}
.filter-section-name{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 30px;
    color: white;
    padding-top: 33px;
    padding-bottom: 10px;
}
.filteer-section-color{
    margin-top: 32px;
}
label::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: white 1px solid;
    margin-right: 12px;
}
.filter-label{
    font-size: 21px;
    color: white;
}
input[type="checkbox"]:checked + label::before{
    background-color: white;
}
input[type="checkbox"] + label {
    display: inline-flex;
    align-items: center;
    margin: 15px 0px 0px 30px;
}
input[type="checkbox"]{
    display: none;
}
.filter-more-options{
    font-size: 21px;color: white;
    text-align: center;
    margin-top: 30px;
}
.btn-submit{
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: white;
    border: 1px solid white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 30px auto;
}
.btn-submit:hover{
    background-color: rgba(255, 255, 255, 0.20);
}
.breadcrumbs{
    height: 60px;
}
.breadcrumbs a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    line-height: 60px;
}
.Laptops{
    text-decoration: underline;
}
h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}
/* Sort */
.sort-dropdown{
    position: absolute;
    z-index: 10;
    border: white 1px solid;
}
.sort a{
    padding-left: 15px;
    text-decoration: none;
    width: 268px;
    font-size: 21px;
    line-height: 40px;
    color: white;
    background-color: #2c71b8;
    display: block;
}
.sort a:hover{
    background-color: white;
    color: #2c71b8;
}

.sort-drop-content{
    display: none;
}
.sort-dropdown:hover .sort-drop-content{
    display: block;
}


/* Products */
.product{
    height: 650px;
    background-color: #2c72b875;
    margin-bottom: 33px;
}
.product-image{
    background-color: rgba(255, 255, 255, 0.750);
    height: 180px;
    line-height: 180px;
    padding-top: 35px;
    text-align: center;
    position: relative;
}
.zoom{
    width: 30px;
    height: 30px;
    border: #2c71b8 1px solid;
    background-image: url(images/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.zoom:hover{
    background-image: url(images/zoom-w.png);
    background-color: #2c71b8;
}
.like{
    width: 30px;
    height: 30px;
    border: #2c71b8 1px solid;
    background-image: url(images/like.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    float: right;
    position: absolute;
    top: 40px;
    right: 0;
}

.like:hover{
    background-image: url(images/like-w.png);
    background-color: #2c71b8;
}
.liked{
    background-image: url(images/like-w.png);
    background-color: #2c71b8;
}

.product-body{
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.75);
}
.product-title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}
.product-discription{
    color: white;
    font-size: 21px;
    line-height: 25px;
}
.product-features{
    color: white;
    font-size: 21px;
    line-height: 31px;
    padding-top: 10px;
}
.features{
    color: white;
    font-size: 21px;
    font-weight: bold;
}
.product-price{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
.cents{
    vertical-align: super;
    font-size: 24px;
}
.btn{
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: white;
    border: 1px solid white;
    display: block;
    margin: 15px auto;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.20);
}
.load-more{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 90px;
}
.load-more a{
    color: white;
    font-size: 36px;
    text-decoration: none;
}
.footer{
    padding: 25px 0px;
    background-color: rgba(255, 255, 255, 0.75);
}
.footer p{
    text-align: center;
    color: #2c71b8;
    font-size: 21px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-block{
    width: 300px;
    margin: 100px auto;
    height: 200px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 15px;
}
.btn-close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.form-title, .form-field{
    margin: 15px 0;
}
.form-field input{
    width: 100%;
    height: 30px;
    padding: 3px;
}
.form-button{
    display: flex;
    justify-content: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}